@model List<BookModel>
@if (ViewBag.isDeleted == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        You have successfully deleted the book from the database.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.isAdded == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        You have successfully added a copy of this book to the database.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.isCopyDeleted == true)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        You have successfully deleted a copy of this book from the database.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author Id</th>
            <th scope="col">Author Name</th>
            <th scope="col">Total Copies</th>
            <th scope="col">Available Copies</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td class="text-center">@book.Id</td>
                <td>@book.Title</td>
                <td class="text-center">@book.AuthorId</td>
                <td>@book.AuthorName</td>
                <td class="text-center">@book.TotalCopies</td>
                <td class="text-center">@book.AvailableCopies</td>
                <td> 
                    <a asp-controller="Book" asp-action="EditBook" asp-route-id="@book.Id"> Edit </a>
                     <a asp-controller="Book" asp-action="DeleteBook" asp-route-id="@book.Id"> Delete </a>
                      <a asp-controller="Book" asp-action="AddCopy" asp-route-id="@book.Id"> AddCopy </a>
                      <a asp-controller="Book" asp-action="DeleteCopy" asp-route-id="@book.Id"> RemoveCopy </a> </td>
            </tr> 
        } 
    </tbody>
</table>