@model List<BookModel>
@if (ViewBag.isNull == true)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        No books match your search query
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@ViewBag.Message
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author Id</th>
            <th scope="col">Author Name</th>
            <th scope="col">Total Copies</th>
            <th scope="col">Available Copies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)

        {
            <tr>
                <td class="text-center">@book.Id</td>
                <td>@book.Title</td>
                <td class="text-center">@book.AuthorId</td>
                <td>@book.AuthorName</td>
                <td class="text-center">@book.TotalCopies</td>
                <td class="text-center">@book.AvailableCopies</td>
            </tr>

        }
    </tbody>
</table>